<% if @books.blank? %>
  <p>There are no books in the library!</p>

<% else %>
  <h1>All Books</h1>
  <ul>
    <% @books.each { |book| %>
      <li><%=  book.title  %></li>
      <%= button_to "delete", book, :method => :delete %>
      <%= link_to "Edit", :action => 'edit', :id => book%>
      <%= link_to "View Copies", {:controller => :copies, :action => 'index', :id => book} %>
      <br/>
      <br/>
    <% } %>
  </ul>
<%end %>

<p><%= link_to "Add new Book", {:action => 'new' }%></p>


